@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

:root {
    --white: #FFF;
    --black-300: #1E1E1E;
    --black-500: #121212;
    --gray-500: #444444;
    --gray-300: #A7A7A7;
    --purple-500: #8865b3;
    --purple-600: #7a53a7;
}

body {
    background-color: var(--black-500);
    color: var(--white);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content, .text_section, .box_header, .button_section, .user_data, label {
    display: flex;
}

.main_content {
    width: 600px;
    flex-direction: column;
    background-color: var(--black-300);
    align-items: center;
    padding: 30px;
    gap: 30px;
    border-radius: 16px;
}

.button_section {
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

a button {
    width: 100%;
}

button {
    color: var(--white);
    font-weight: 700;
    background-color: var(--purple-600);
    border: none;
    border-radius: 8px;
    padding: 15px;
    transition: .3s;
}

button:hover { 
    background-color: var(--purple-500);
}

.box_header {
    align-items: center;
    flex-direction: column;
}

.text_section {
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

h1 {
    font-weight: 700;
    font-size: 1.8rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-weight: 400;
    font-size: .92rem;
    color: var(--gray-300);
}

h4 {
    color: var(--gray-300);
    font-size: .73rem;
}

img {
    width: 120px;
    border-radius: 50%;
    border: 3px solid var(--purple-600);
}

.user_data {
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
}

label {
    color: var(--gray-300);
    text-align: justify;
    flex-direction: column;
    gap: 5px;
}

.user_data > label > input {
    color: var(--white);
    padding: 10px;
    background-color: var(--black-500);
    border: 1px solid var(--gray-500);
    border-radius: 6px;
    height: 44px;
}

.user_data > label > textarea {
    color: var(--white);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--gray-500);
    background-color: var(--black-500);
    resize: none;
    height: 120px;
}

.main_box {
    text-align: center;
}

footer {
    text-align: center;
}

footer > a {
    color: var(--purple-600);
    font-weight: 700;
    font-size: .8rem;
}
